@import '../../../colors';

$ps: 43.73/4;
$ls: 34/4;
$lps: 19;
:root {
  --columns: 7;
  --rows: 24;
  @media screen and (orientation: landscape) {
    --columns: 12;
    --rows: 7;
  }
}

.table {
  &-table {
    display: grid;
    grid-template-columns: repeat(var(--columns), $ps*4 + px);
    grid-template-rows: repeat(var(--rows), 16.736+ px);
    @media screen and (max-width: 321px){
      grid-template-columns: repeat(var(--columns), 9*4 + px);
      grid-template-rows: repeat(var(--rows), 16.736+ px);
    }
    @media screen and (min-width: 767px){
      grid-template-columns: repeat(var(--columns), $lps*4 + px);
      grid-template-rows: repeat(var(--rows), 30+ px);
    }
    margin-left: -22px;
    @media screen and (orientation: landscape) {
      display: none;
    }
      &_landscape {
      display: none;
      @media screen and (orientation: landscape) {
        margin-left: -14px;
        display: grid;
        grid-template-columns: repeat(var(--columns), $ls*4 + px);
        grid-template-rows: repeat(var(--rows), 13+ px);
      }
        @media screen and (min-width: 767px) and (min-height: 415px){
          grid-template-columns: repeat(var(--columns), $lps*4 + px);
          grid-template-rows: repeat(var(--rows), 30+ px);
        }
    }

    &-image {
      &_landscape {
        width: $ls*4 + px;
        @media screen and (min-width: 767px)and  (min-height: 415px){
          width: auto;
        }
      }
      width: $ps*4 + px;
      @media screen and (max-width: 321px) {
        width: 9*4 + px;
      }
      @media screen and (min-width: 767px) and (min-height: 415px) {
        width: $lps*4 + px;

      }
        &_min {
        @media screen and (orientation: landscape) {
          height: 32px;
          @media screen and (min-width: 767px) and (min-height: 415px){
            height: $lps*4 + px;
          }
        }
        content: url("../../../assets/images/4x/min-dark.png");
      }

      &_mid {

        content: url("../../../assets/images/4x/mid-dark.png");
      }

      &_max {
        content: url("../../../assets/images/4x/max-dark.png");
      }

      &_extra {
        content: url("../../../assets/images/4x/extra-dark.png");
      }

      .theme_light &_min {
        content: url("../../../assets/images/4x/min-light.png");
      }

      .theme_light &_mid {
        content: url("../../../assets/images/4x/mid-light.png");
      }

      .theme_light &_max {
        content: url("../../../assets/images/4x/max-light.png");
      }

      .theme_light &_extra {
        content: url("../../../assets/images/4x/extra-light.png");
      }
    }


    &-container {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }



    &-item {
      &_size {
        &_mid {
          @media screen and (orientation: landscape) {
            margin-top: -8px;
          }
          @media screen and (min-width: 767px)  and (min-height: 415px){
            margin-top: -15px;
          }
            margin-top: -9px;
        }
        &_max {
          @media screen and (orientation: landscape) {
            margin-top: -23px;
          }
          margin-top: -29px;
          @media screen and (max-width: 321px) {
            margin-top: -29px;
          }
          @media screen and (min-width: 767px) and (min-height: 415px){
            margin-top: -50px;
          }
        }
        &_extra {
          @media screen and (orientation: landscape) {
            margin-top: -40px;
          }
          margin-top: -50px;
          @media screen and (max-width: 321px) {
            margin-top: -40px;
          }
          @media screen and (min-width: 767px) and (min-height: 415px){
          margin-top: -85px;
          }
          }

      }

      &_odd {
          margin-left: $ps*2 + px;
        @media screen and (max-width: 321px){
          margin-left: 9*2 + px;
        }
        @media screen and (orientation: landscape) {
          margin-left: $ls*2 + px;
        }
        @media screen and (min-width: 767px) and (min-height: 415px){
          margin-left: $lps*2 + px;
        }

      }
    }

    &-row {
      display: flex;
    }
  }

  &-landscape {

  }

}