@import '../../_colors';

.chart {
  &-chart-container {
    margin-top: 14px;
    display: flex;
    height: 167px;
    flex-direction: row-reverse;
    @media only screen and (orientation: portrait) {
      height: 386px;
      overflow-x: hidden;
      margin-top: 54px;
    }
    justify-content: space-between;
    align-items: flex-end;
  }

  &-container {
  }

  &-chart-list {
    @media only screen and (orientation: portrait) {
      flex-direction: column;
      margin: 24px 24px 0 24px;

    }
    margin-top: 54px;
    display: flex;
    justify-content: center;
    min-width: 40px;
  }

  &-chart-section {
    display: flex;

    margin: 0 58px;
    @media only screen and (orientation: portrait) {
      margin: 0;
    }
    flex-direction: column;
  }
  &-line {
    @media only screen and (orientation: portrait) {
      height: 2px;
      margin: 16px 0;
      width: 100%;
    }
    .theme_light & {
      background: $light_gray;
    }
    width: 2px;
    height: 40px;
    background: $grey;
    margin: 0 16px;
    opacity: 0.3;
  }
}