@import "../../colors";

.diagram {
  @media only screen and (orientation: landscape) {
    @media screen and (max-height: 321px){
      margin-top: 10px;
    }
      margin-top: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media only screen and (orientation: landscape) and (min-height: 413px) {
    margin: auto 0;
  }
  &-value-text{
     color: $grey;
     margin-left: 17px;
  }
  &-diff-text{
    color: $grey;
  }
  &-title{
    margin-left: 10px;
  }
  &-container{
    @media only screen and (orientation: landscape) and (min-width: 413px) {
      display: flex;
      flex-direction: column;

    }
    height: 100vh;
  }
  &-horizontal {
    display: flex;
    justify-content: center;
    @media only screen and (orientation: portrait) {
      width: 0;
      height: 0;
      visibility: hidden;
    }
  }

  &-vertical {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    @media only screen and (orientation: landscape) {
      margin-top: 0;
    }

  }
  &-line{
    width: 100%;
    background: #918F8A;
    opacity: 0.3;
    margin-bottom: 16px;
    height: 2px;
  }
  &-table{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  &-value-container{
    display: flex;
  }
  &-info{
    @media screen and (orientation: landscape){
      min-width: 304px;
      margin: 15px 0 0 40px;
      @media screen and (max-height: 321px){
        min-width: 255px;
        margin: 15px 0 0 10px;
      }
      @media screen and (min-width: 767px){
        min-width: 450px;
        margin: 15px 0 0 60px;
      }
    }
    margin: 32px 24px 0 24px;
  }
  &-circle {
    margin-top: 1px;
    &-container{
      display: flex;
    }
    &_0 {
      box-shadow: $orange_shadow;
      background: $orange_background;
    }

    &_1 {
      box-shadow: $yellow_shadow;
      background: $yellow_background;
    }

    &_2 {
      transform: matrix(1, 0, 0, -1, 0, 0);
      box-shadow:  inset -1px -1px 1px rgba(255, 255, 255, 0.5);
      background: $gray_background
    }

    &_3 {
      box-shadow: $dark_gray_shadow;
      background: $dark_gray_background;
    }

    height: 16px;
    width: 16px;
    border-radius: 8px;
  }
}