.donat {
  &-container {
    position: relative;
  }

  &-text {
    width: 180px;
    @media only screen and (orientation: landscape) {
      width: 120px;
    }

    &_diff {
      @media only screen and (orientation: landscape) {
        font-size: 18px;
        line-height: 20px;
      }
      font-weight: 500;
      font-size: 20px;
      line-height: 22px;
      color: #918F8A;
    }

    &_total {
      @media only screen and (orientation: landscape) {
        font-size: 20px;
        line-height: 22px;
      }
      font-weight: bold;
      font-size: 30px;
      line-height: 32px;
      margin-bottom: 6px;
      @media only screen and (orientation: portrait) {
        margin-bottom: 8px;
      }
    }
  }

  &-text-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
